@charset "UTF-8";

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 5em;
    font-weight: bolder;
}

header > p {
    font-family: var(--fonte01);
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-family: var(--fonte01);
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

main > section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

main > section.poem {
    background-color: white;
    color: black;
}

section.poem p {
    font-family: cursive;
    font-weight: normal;
    line-height: 2em;
}

main > section.poem-image {
    color: black;
}

section.poem-image p {
    background-color: rgba(0, 0, 0, 0.253);
    width: 400px;
    font-family: cursive;
    font-weight: normal;
    color: white;
}

main > #img01 {
    background-image: url("/desafios/md003/d012/imagens/background001.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

main > #img02 {
    background-image: url("/desafios/md003/d012/imagens/background002.jpg");
    background-attachment: fixed;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}