@charset "UTF-8";

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    padding: 100px;
}

header h1 {
    text-align: center;
    color: white;
    font-family: var(--fonte01);
    font-size: 5em;
    font-weight: bolder;
}

header p {
    text-align: center;
    color: white;
    font-family: var(--fonte01);
    padding-top: 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-family: var(--fonte01);
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

main > section.poem {
    padding: 100px 30px;
}

section.poem p {
    font-size: 4em;
    font-family: cursive;
    font-weight: normal;
}

main > section.poem-image {
    padding: 100px 30px;
}

section.poem-image p {
    font-size: 4em;
    font-family: cursive;
    font-weight: normal;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.712);
}

main > #img01 {
    background-image: url("/desafios/md003/d012/imagens/background001.jpg");
}